@import "reset";
@import "fonts";

body {
  background-color: $lightGreyColor;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.main {
  margin-left: 300px;
  padding: 30px;
  
  &__title {
    margin-bottom: 30px;
  }
}